# Exploratory Data Analysis

## Cntext: knowing a litte about dataset

# Import librarys
- *import numpy as np*
- *import pandas as pd*

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset_one = pd.read_csv("datasets/restaurants_cuisine_ratings/Cuisine_rating.csv")

In [3]:
# Display 5 first line
dataset_one.head()

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No

In [4]:
dataset_one.info("")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User ID         200 non-null    int64
 1   Area code       200 non-null    int64
 2   Location        200 non-null    object
 3   Gender          200 non-null    object
 4   YOB             200 non-null    int64
 5   Marital Status  200 non-null    object
 6   Activity        200 non-null    object
 7   Budget          200 non-null    int64
 8   Cuisines        200 non-null    object
 9   Alcohol         200 non-null    object
 10  Smoker          200 non-null    object
 11  Food Rating     200 non-null    int64
 12  Service Rating  200 non-null    int64
 13  Overall Rating  200 non-null    float64
 14  Often A S       200 non-null    object
dtypes: float64(1), int64(6), object(8)
memory usage: 23.6+ KB

In [5]:
# Count quanity cuisines by row
dataset_one['Cuisines'].value_counts()

Cuisines
Japanese    36
Filipino    34
French      34
Indian      32
Chinese     24
Seafood     22
Italian     18
Name: count, dtype: int64

In [6]:
# Filter by japanese Cuisines
dataset_one[dataset_one["Cuisines"] == 'Japanese']

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
17,18,153,"Upper East Side,NY",Male,2004,Single,Student,3,Japanese,Often,Often,1,5,3.0,Yes
25,26,123,"St. George,NY",Male,1969,Single,Professional,3,Japanese,Never,Socially,4,3,3.5,No
34,35,129,"Central Park,NY",Male,2001,Divorced,Student,1,Japanese,Socially,Often,5,5,5.0,No
35,36,107,"Riverdale,NY",Male,1998,Single,Professional,5,Japanese,Never,Socially,1,3,2.0,No
36,37,154,"Market City, NY",Male,2006,Single,Student,4,Japanese,Often,Often,5,2,3.5,Yes
42,43,123,"St. George,NY",Male,1985,Married,Student,5,Japanese,Never,Never,3,1,2.0,No
49,50,107,"Riverdale,NY",Female,1974,Married,Student,5,Japanese,Socially,Socially,2,5,3.5,No
50,51,107,"Riverdale,NY",Female,2007,Single,Student,4,Japanese,Often,Often,5,5,5.0,Yes
58,59,123,"St. George,NY",Male,1964,Single,Student,5,Japanese,Never,Socially,4,2,3.0,No
60,61,129,"Central Park,NY",Female,2003,Single,Student,4,Japanese,Never,Never,4,3,3.5,No
61,62,122,"Upper West Side,NY",Female,1955,Divorced,Professional,4,Japanese,Never,Often,5,5,5.0,No
62,63,123,"St. George,NY",Male,2002,Single,Student,4,Japanese,Never,Often,5,5,5.0,No
70,71,154,"Market City, NY",Male,1957,Married,Student,5,Japanese,Socially,Often,4,4,4.0,No
83,84,154,"Market City, NY",Male,1981,Married,Student,5,Japanese,Socially,Often,5,4,4.5,No
85,86,107,"Riverdale,NY",Male,1999,Single,Student,4,Japanese,Often,Often,4,1,2.5,Yes
97,98,123,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No
100,101,117,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Socially,4,4,4.0,No
103,104,121,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
117,118,195,"Upper East Side,NY",Male,2004,Single,Student,3,Japanese,Often,Often,2,5,3.5,Yes
125,126,127,"St. George,NY",Male,1969,Single,Professional,3,Japanese,Never,Socially,4,3,3.5,No
134,135,172,"Central Park,NY",Male,2001,Divorced,Student,1,Japanese,Socially,Often,4,5,4.5,No
135,136,176,"Riverdale,NY",Male,1998,Single,Professional,5,Japanese,Never,Socially,2,3,2.5,No
136,137,110,"Market City, NY",Male,2006,Single,Student,4,Japanese,Often,Often,4,2,3.0,Yes
142,143,173,"St. George,NY",Male,1985,Married,Student,5,Japanese,Never,Never,3,1,2.0,No
149,150,157,"Riverdale,NY",Female,1974,Married,Student,5,Japanese,Socially,Socially,2,5,3.5,No
150,151,185,"Riverdale,NY",Female,2007,Single,Student,4,Japanese,Often,Often,5,5,5.0,Yes
158,159,175,"St. George,NY",Male,1964,Single,Student,5,Japanese,Never,Socially,4,2,3.0,No
160,161,124,"Central Park,NY",Female,2003,Single,Student,4,Japanese,Never,Never,4,3,3.5,No
161,162,125,"Upper West Side,NY",Female,1955,Divorced,Professional,4,Japanese,Never,Often,5,5,5.0,No
162,163,158,"St. George,NY",Male,2002,Single,Student,4,Japanese,Never,Often,5,5,5.0,No
170,171,176,"Market City, NY",Male,1957,Married,Student,5,Japanese,Socially,Often,4,4,4.0,No
183,184,166,"Market City, NY",Male,1981,Married,Student,5,Japanese,Socially,Often,5,4,4.5,No
185,186,136,"Riverdale,NY",Male,1999,Single,Student,4,Japanese,Often,Often,4,1,2.5,Yes
197,198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No

In [7]:
# Filter by Filipino cuisine
dataset_one[dataset_one['Cuisines']== 'Filipino']

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No
7,8,153,"Upper East Side,NY",Female,2003,Single,Professional,3,Filipino,Often,Often,5,2,3.5,Yes
14,15,107,"Riverdale,NY",Male,1956,Married,Student,3,Filipino,Often,Never,1,1,1.0,No
18,19,129,"Central Park,NY",Male,2001,Single,Student,3,Filipino,Socially,Socially,3,5,4.0,No
39,40,123,"St. George,NY",Male,1986,Single,Student,4,Filipino,Never,Never,3,1,2.0,No
41,42,154,"Market City, NY",Female,1967,Single,Student,5,Filipino,Often,Socially,5,5,5.0,No
53,54,123,"St. George,NY",Male,1989,Single,Professional,5,Filipino,Socially,Often,4,4,4.0,No
54,55,107,"Riverdale,NY",Female,1958,Single,Professional,5,Filipino,Socially,Socially,5,3,4.0,No
55,56,122,"Upper West Side,NY",Female,1991,Single,Professional,4,Filipino,Often,Socially,3,1,2.0,No
57,58,129,"Central Park,ny",Male,1962,Married,Professional,3,Filipino,Never,Never,3,4,3.5,No
71,72,123,"St. George,NY",Male,2006,Single,Student,5,Filipino,Socially,Never,1,2,1.5,No
74,75,123,"St. George,NY",Male,2002,Single,Student,3,Filipino,Never,Never,3,4,3.5,No
76,77,129,"Central Park,NY",Male,1974,Single,Professional,3,Filipino,Socially,Never,2,5,3.5,No
79,80,111,"China Town, NY",Female,1998,Single,Student,1,Filipino,Often,Socially,1,5,3.0,No
86,87,123,"St. George,NY",Male,1961,Married,Professional,4,Filipino,Often,Socially,1,5,3.0,No
93,94,107,"Riverdale,NY",Female,1985,Married,Student,5,Filipino,Often,Never,1,4,2.5,No
98,99,123,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,2.5,No
104,105,198,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No
107,108,166,"Upper East Side,NY",Female,2003,Single,Professional,3,Filipino,Often,Often,4,2,3.0,Yes
114,115,140,"Riverdale,NY",Male,1956,Married,Student,3,Filipino,Often,Never,2,2,2.0,No
118,119,105,"Central Park,NY",Male,2001,Single,Student,3,Filipino,Socially,Socially,3,5,4.0,No
139,140,137,"St. George,NY",Male,1986,Single,Student,4,Filipino,Never,Never,3,1,2.0,No
141,142,162,"Market City, NY",Female,1967,Single,Student,5,Filipino,Often,Socially,5,5,5.0,No
153,154,138,"St. George,NY",Male,1989,Single,Professional,5,Filipino,Socially,Often,4,4,4.0,No
154,155,136,"Riverdale,NY",Female,1958,Single,Professional,5,Filipino,Socially,Socially,5,3,4.0,No
155,156,169,"Upper West Side,NY",Female,1991,Single,Professional,4,Filipino,Often,Socially,3,1,2.0,No
157,158,196,"Central Park,ny",Male,1962,Married,Professional,3,Filipino,Never,Never,3,4,3.5,No
171,172,169,"St. George,NY",Male,2006,Single,Student,5,Filipino,Socially,Never,1,2,1.5,No
174,175,135,"St. George,NY",Male,2002,Single,Student,3,Filipino,Never,Never,3,4,3.5,No
176,177,175,"Central Park,NY",Male,1974,Single,Professional,3,Filipino,Socially,Never,2,5,3.5,No
179,180,139,"China Town, NY",Female,1998,Single,Student,1,Filipino,Often,Socially,1,5,3.0,No
186,187,186,"St. George,NY",Male,1961,Married,Professional,4,Filipino,Often,Socially,1,5,3.0,No
193,194,103,"Riverdale,NY",Female,1985,Married,Student,5,Filipino,Often,Never,1,4,2.5,No
198,199,130,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,2.5,No

In [8]:
# Filter by French Cuisine
dataset_one[dataset_one['Cuisines'] == 'French']

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
10,11,123,"St. George,NY",Female,1975,Married,Professional,4,French,Never,Often,3,2,2.5,No
15,16,153,"Upper East Side,NY",Female,1956,Married,Student,3,French,Often,Never,4,1,2.5,No
28,29,154,"Market City, NY",Female,1977,Married,Student,4,French,Socially,Never,2,1,1.5,No
37,38,123,"St. George,NY",Female,1990,Single,Student,5,French,Never,Never,3,2,2.5,No
38,39,153,"Upper East Side,NY",Male,1987,Married,Student,4,French,Never,Never,2,3,2.5,No
43,44,129,"Central Park,NY",Male,2000,Single,Student,3,French,Never,Often,4,1,2.5,No
46,47,129,"Central Park,ny",Male,1976,Single,Professional,3,French,Often,Socially,5,3,4.0,No
65,66,107,"Riverdale,NY",Male,1975,Married,Student,4,French,Socially,Often,2,5,3.5,No
68,69,111,"China Town, NY",Male,1961,Married,Student,4,French,Never,Socially,3,3,3.0,No
80,81,154,"Market City, NY",Female,1974,Married,Professional,4,French,Never,Socially,4,4,4.0,No
82,83,122,"Upper West Side,NY",Male,1996,Married,Student,4,French,Often,Socially,2,4,3.0,No
87,88,129,"Central Park,NY",Female,2007,Single,Professional,5,French,Often,Often,5,5,5.0,Yes
88,89,122,"Upper West Side,NY",Female,2003,Married,Professional,4,French,Often,Often,5,5,5.0,Yes
91,92,111,"China Town, NY",Male,1969,Divorced,Professional,3,French,Never,Often,3,1,2.0,No
92,93,123,"St. George,NY",Male,2000,Single,Professional,5,French,Never,Often,5,5,5.0,No
95,96,123,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,1.5,No
99,100,153,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No
110,111,131,"St. George,NY",Female,1975,Married,Professional,4,French,Socially,Often,3,3,3.0,No
115,116,145,"Upper East Side,NY",Female,1956,Married,Student,3,French,Often,Never,4,1,2.5,No
128,129,154,"Market City, NY",Female,1977,Married,Student,4,French,Socially,Never,2,1,1.5,No
137,138,120,"St. George,NY",Female,1990,Single,Student,5,French,Never,Never,3,2,2.5,No
138,139,131,"Upper East Side,NY",Male,1987,Married,Student,4,French,Never,Never,2,3,2.5,No
143,144,184,"Central Park,NY",Male,2000,Single,Student,3,French,Never,Often,4,1,2.5,No
146,147,106,"Central Park,ny",Male,1976,Single,Professional,3,French,Often,Socially,5,3,4.0,No
165,166,194,"Riverdale,NY",Male,1975,Married,Student,4,French,Socially,Often,2,5,3.5,No
168,169,196,"China Town, NY",Male,1961,Married,Student,4,French,Never,Socially,3,3,3.0,No
180,181,163,"Market City, NY",Female,1974,Married,Professional,4,French,Never,Socially,4,4,4.0,No
182,183,162,"Upper West Side,NY",Male,1996,Married,Student,4,French,Often,Socially,2,4,3.0,No
187,188,137,"Central Park,NY",Female,2007,Single,Professional,5,French,Often,Often,5,5,5.0,Yes
188,189,154,"Upper West Side,NY",Female,2003,Married,Professional,4,French,Often,Often,5,5,5.0,Yes
191,192,178,"China Town, NY",Male,1969,Divorced,Professional,3,French,Never,Often,3,1,2.0,No
192,193,105,"St. George,NY",Male,2000,Single,Professional,5,French,Never,Often,5,5,5.0,No
195,196,175,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,1.5,No
199,200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No

In [9]:
# media das avaliações de notas for Japanese. 
dataset_one[dataset_one['Cuisines'] == 'Japanese']['Overall Rating'].mean()

3.5972222222222223

In [10]:
# media das avaliações de notas for Filipino. 
dataset_one[dataset_one['Cuisines'] == 'Filipino']['Overall Rating'].mean()

3.0441176470588234

In [11]:
# media das avaliações de notas for Filipino. 
dataset_one[dataset_one['Cuisines'] == 'French']['Overall Rating'].mean()

3.1029411764705883

In [12]:
# media das avaliações de notas for Indian.
dataset_one[dataset_one['Cuisines'] == 'Indian']['Overall Rating'].mean()

3.171875

In [13]:
# media das avaliações de notas for Chinese.
dataset_one[dataset_one['Cuisines'] == 'Chinese']['Overall Rating'].mean()

3.2708333333333335

In [14]:
#  media das avaliações de notas for Seafood
dataset_one[dataset_one['Cuisines'] == 'Seafood']['Overall Rating'].mean()

3.1363636363636362

In [15]:
#  media das avaliações de notas for Italian
dataset_one[dataset_one['Cuisines'] == 'Italian']['Overall Rating'].mean()

3.1944444444444446