# Exploratory Data Analysis

## Missing data and constant data

# Import librarys
- *import numpy as np*
- *import pandas as pd*

In [1]:
import numpy as np
import pandas as pd

In [57]:
salto_Sp_houses = pd.read_csv('datasets/salto_SP_house_dataset/real_estate_salto_sp_apartamento_aluguel_5.csv')

In [101]:
salto_Sp_houses.head(10)

,nome_casa,endereço_casa,preco_casa,metros_casa,quartos_casa,banheiros_casa,vagas_casa
0,Apartamento com 2 Quartos à Venda/Aluguel 76m²,"Rua Padre José de Anchieta, 86 - Vila Romão, S...",1500,76,2,1,1
1,Apartamento com 2 Quartos para Venda/Aluguel 62m²,"Jardim Sontag, Salto - SP",260000,62,2,2,1
2,"Apartamento com 2 Quartos para Aluguel, 53m²","Parque Bela Vista, Salto - SP",1800,53,2,1,1
3,"Apartamento com 2 Quartos para Aluguel, 60m²","Rua Estados Unidos, 195 - Guaraú, Salto - SP",290000,60,2,2,1
4,"Apartamento com 2 Quartos para Aluguel, 75m²","Da Estação, Salto - SP",1550,75,2,2,2
5,Apartamento com 2 Quartos para Venda/Aluguel 1...,"Vila Teixeira, Salto - SP",1350,114,2,3,2
6,"Apartamento com 2 Quartos para Aluguel, 70m²","Rua Floriano Peixoto, 1832 - Jardim das Nações...",1500,70,2,2,2
7,Apartamento com 3 Quartos para Venda/Aluguel 63m²,"Parque Bela Vista, Salto - SP",3200,63,3,1,1
8,"Apartamento com 2 Quartos para Aluguel, 53m²","Rua Presidente João Café Filho, 100 - Parque B...",480000,53,2,1,1
9,"Apartamento com 2 Quartos para Aluguel, 45m²","Vila Nova, Salto - SP",2000,45,2,1,0

In [74]:
# salto_Sp_houses.head(40)

# salto_Sp_houses = salto_Sp_houses.drop(columns=[0])

In [75]:
# Not doing this
# salto_Sp_houses = salto_Sp_houses['vagas_casa'].replace('--', '0')

In [78]:
# salto_Sp_houses.loc[salto_Sp_houses['vagas_casa'] == '--', 'vagas_casa'] == 0
salto_Sp_houses.loc[salto_Sp_houses['vagas_casa'] == '--', 'vagas_casa'] = 0

In [102]:
salto_Sp_houses.head(10)
salto_Sp_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nome_casa       175 non-null    object
 1   endereço_casa   175 non-null    object
 2   preco_casa      175 non-null    int64
 3   metros_casa     175 non-null    int64
 4   quartos_casa    175 non-null    int64
 5   banheiros_casa  175 non-null    int64
 6   vagas_casa      175 non-null    object
dtypes: int64(4), object(3)
memory usage: 9.7+ KB

In [99]:
salto_Sp_houses['preco_casa'] = salto_Sp_houses['preco_casa'].str.replace('R$', '', regex=False)  # Remover 'R$'
salto_Sp_houses['preco_casa'] = salto_Sp_houses['preco_casa'].str.replace('/mês', '', regex=False)  # Remover '/mês'
salto_Sp_houses['preco_casa'] = salto_Sp_houses['preco_casa'].str.strip()
salto_Sp_houses['preco_casa'] = salto_Sp_houses['preco_casa'].str.replace('.', '', regex=False) 
salto_Sp_houses['preco_casa'] = pd.to_numeric(salto_Sp_houses['preco_casa'], errors='coerce')

In [105]:
# salto_Sp_houses['preco_casa'].value_counts()
salto_Sp_houses['preco_casa'].median()
salto_Sp_houses['quartos_casa'].median()

2.0